# Data Science Tools and Ecosystem

This notebook summarizes available data science tools and ecosystems.

**Objectives**
- List some popular data science languages
- List some commonly used data science libraries
- List some open source data science tools
- Demonstrate facility with arithmetic expressions in Python

Some of the most popular data science languages are:
1. Python
2. R
3. SQL

Some of the commonly used libraries in data science include:
1. Tensorflow
2. Matlib
3. Pandas

| Data Science Tools |
|--------------------|
| R Studio |
| Spark |
| Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Jessica Horning